.UserHomeFilterContainer {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding-top: 36px;
    background-color: #F3F3F3;
}

.CategoryDropdownFilter {
    padding-left: 55px;
}

.RelevanceDropdownFilter {
    padding-left: 20px;
}




